main
etat_main
cachee
nb_mains
une_main
nb_cartes_main
main_de_quatre_cartes
nb_talons
un_talon
riviere
tps_limite
inversion
avec_carte_inversion
nb_de_cartes_jouables_par_joueur
une_par_une
pioche
nb_cartes_a_piocher
une_seule
jouer_apres_pioche
droit_de_jouer
conditions_fin
dire_uno_obligatoire
points_manche
vainqueur_manche
manche_gagnee
perdants_manche
pm_zero_pts
vainqueur_total
nb_manche_gagnees
