main
etat_main
visible
nb_mains
une_main
nb_cartes_main
main_de_sept_cartes
nb_talons
un_talon
inversion
avec_carte_inversion
nb_de_cartes_jouables_par_joueur
plusieurs_a_la_fois_autorise
carte_1_a_9
suites
interception
meme_nb
pioche
nb_cartes_a_piocher
une_seule
jouer_apres_pioche
droit_de_jouer
cumul
cumul_plus_2
cumul_wild_cards
cumul_plus_4
contestations
inter_contestable
plus4_contestable
conditions_fin
dire_uno_obligatoire
points_manche
vainqueur_manche
manche_gagnee
perdants_manche
pm_zero_pts
vainqueur_total
nb_manche_gagnees
