main
etat_main
cachee
nb_mains
une_main
nb_cartes_main
main_de_sept_cartes
nb_talons
un_talon
inversion
avec_carte_sept
tourner_les_mains
avec_carte_zero
nb_de_cartes_jouables_par_joueur
une_par_une
pioche
nb_cartes_a_piocher
une_seule
jouer_apres_pioche
droit_de_jouer
conditions_fin
dire_uno_obligatoire
points_manche
vainqueur_manche
vm_zero_pts
perdants_manche
pm_pts_selon_cartes_restantes
vainqueur_total
score_le_plus_petit
