main
etat_main
visible
nb_mains
trois_mains
nb_cartes_main
main_de_quatre_cartes
nb_talons
trois_talons
riviere
tps_limite
inversion
avec_carte_inversion
avec_carte_sept
tourner_les_mains
avec_carte_zero
avec_carte_uno
nb_de_cartes_jouables_par_joueur
plusieurs_a_la_fois_autorise
carte_1_a_9
suites
suites_royales
interception
meme_couleur
meme_nb
pioche
nb_cartes_a_piocher
au_plus_trois
jouer_apres_pioche
pas_droit_de_jouer
cumul
cumul_plus_2
cumul_wild_cards
cumul_plus_4
cumul_carte_couleur
cumul_carte_uno
contestations
inter_contestable
plus4_contestable
points_manche
vainqueur_manche
vm_pts_selon_carte_adversaires
perdants_manche
pm_zero_pts
vainqueur_total
score_le_plus_grd
